body {
	margin: 0;
	overflow: hidden
}

.btn {
	background-color: #EEE;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: sans-serif;
	font-size: 12px;
	margin: 16px 6px 16px 16px;
	cursor: pointer
}

#scatter3d {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 4
}

.legendBox {
	fill: #EEE;
	opacity: .69
}

ul {
	padding-left: 0;
	list-style-type: none;
	list-style-position: outside
}

li {
	list-style-position: outside;
	margin-bottom: -4px;
	margin-top: -4px
}

#culturesPopup {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80%;
	padding: 16px;
	background-color: #DEDEDE;
	font-family: sans-serif;
	font-size: 10px;
	column-count: 7;
	z-index: 10;
	display: none
}

#closePopup {
	position: absolute;
	padding: 8px;
	font-size: 16px;
	cursor: pointer;
	right: 0;
	top: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none -ms-user-select:none;
	user-select: none
}

#closePopup:hover {
	font-size: 16px;
	color: #FFF
}

#ui {
	position: absolute;
	z-index: 5
}

.audio {
	grid-area: aux;
	text-align: left
}

.clear {
	grid-area: clr;
	text-align: right
}

.close {
	grid-area: x;
	text-align: right
}

.culture {
	grid-area: clt;
	text-align: left
}

.text {
	grid-area: txt;
	text-align: left
}

.lyric {
	grid-area: lyr;
	text-align: left
}

.cite {
	grid-area: cit;
	text-align: left
}

.ocm {
	grid-area: ocm;
	text-align: left
}

#tooltip>div {
	color: #494949;
	font-size: 12px
}

#tooltip .close {
	font-size: 16px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none -ms-user-select:none;
	user-select: none
}

#tooltip .close:hover {
	font-size: 16px;
	color: #000
}

#tooltip {
	position: absolute;
	text-align: center;
	width: 400px;
	font: 10px sans-serif;
	border: 0;
	border-radius: 8px;
	opacity: 0;
	top: -99999;
	left: -9999;
	display: grid;
	grid-template-areas: 'clr clr clr clr clr x' 'clt clt clt clt clt clt' 'txt txt txt txt txt txt' 'lyr lyr lyr lyr lyr lyr' 'cit cit cit cit cit cit' 'ocm ocm ocm ocm ocm omc';
	grid-gap: 10px;
	background-color: #DEDEDE;
	padding: 10px;
	z-index: 10
}
